
 
 @import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');


h2{
  font-family: 'Nabla', cursive;
}
h1 {
  color: red;
  width: 300px;
  border: 1px solid black;
 
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(2, 5, 7);
  color: white;
  text-align: center;
  padding: 14px 16px;
}
  
  
